.cocktail-recommender {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .recommended-cocktails {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-top: 20px;
    justify-content: center; /* center the grid horizontally */
    align-content: center; /* center the grid vertically */
  }
  
  
  .cocktail-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
  }
  
  .cocktail-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .cocktail-card h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .cocktail-card button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-right: 5px;
  }
  
  .cocktail-card button:hover {
    background-color: #3e8e41;
  }
  
  .selected-cocktail {
    margin-top: 20px;
    text-align: center;
  }
  
  .selected-cocktail img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .selected-cocktail h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .selected-cocktail h3 {
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .selected-cocktail ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }
  
  .selected-cocktail li {
    margin-bottom: 10px;
  }
  
  .favorites {
    margin-top: 20px;
    text-align: center;
  }
  
  .favorites h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: black;
    text-decoration: underline;
    
  }
  
  .favorites ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .favorites li {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .favorites button {
    margin-left: 10px;
  }

  .cocktail-recommender{
    margin-top: 100px;
  }
  